n8n/confirm-order-subworkflow.json.bak-20260504-155702
{"updatedAt":"2026-04-23T22:09:59.583Z","createdAt":"2026-04-05T23:07:49.554Z","id":"TUFQBJuVE9cOu4Go","name":"Solenne - Confirm Order","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-416,0],"id":"co-trigger-001","name":"Execute Workflow Trigger"},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst item = raw.query || raw;\n\n// Duplicate order guard: same phone + same product_family + last 2h = ya_confirmado\n// Prevents double-creation when client buys on web then confirms via Sofia minutes later\n// Non-blocking: any guard error continues to order creation (safe fallback)\ntry {\n  const guardPhone = String(item.phone || '').replace(/[\\D]/g, '');\n  const guardProductoText = String(item.producto || '').toLowerCase();\n  const guardItemsText = (typeof (item.items || '') === 'string')\n    ? (item.items || '').toLowerCase()\n    : JSON.stringify(item.items || '').toLowerCase();\n  const guardCombined = guardProductoText + ' ' + guardItemsText;\n\n  const SERUM_KW = ['pdrn','serum','suero','peptide','peptido','pink peptide'];\n  const TAPE_KW  = ['tape','face tape','parche','parches','lifting tape','v-shaped'];\n\n  let guardFamily = 'unknown';\n  if (SERUM_KW.some(k => guardCombined.includes(k))) guardFamily = 'serum';\n  else if (TAPE_KW.some(k => guardCombined.includes(k))) guardFamily = 'tape';\n\n  if (guardPhone.length >= 8 && guardFamily !== 'unknown') {\n    const sbKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZncWVjcXFsZXVvd3ZvaW1jb3hnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwNTY5NzcsImV4cCI6MjA4MjYzMjk3N30.aRX16e_vGkRgYN1RNMjF8bAOK8PmvwoFYFjGDEfa-YI';\n    const twoHoursAgo = new Date(Date.now() - 2 * 60 * 60 * 1000).toISOString();\n    const phoneEnd8 = guardPhone.slice(-8);\n\n    const skuPrefixMap = { serum: 'SOLENNE-PDRN', tape: 'SOLENNE-TAPE' };\n    const skuPrefix = skuPrefixMap[guardFamily];\n\n    // Orders by this phone in the last 2h that are confirmed/shipped/delivered\n    const dupRes = await $helpers.httpRequest({\n      method: 'GET',\n      url: 'https://vgqecqqleuowvoimcoxg.supabase.co/rest/v1/orders'\n        + '?select=id,idempotency_key,status,created_at'\n        + '&store_id=eq.0b3f13f8-d1dc-48a5-a707-27a095c9c545'\n        + '&status=in.(confirmed,shipped,delivered)'\n        + '&created_at=gte.' + twoHoursAgo\n        + '&idempotency_key=like.*ph-' + phoneEnd8\n        + '&order=created_at.desc&limit=10',\n      headers: { 'apikey': sbKey, 'Authorization': 'Bearer ' + sbKey },\n      timeout: 4000\n    });\n\n    const dupOrders = Array.isArray(dupRes) ? dupRes : [];\n\n    for (const dupOrder of dupOrders) {\n      const liRes = await $helpers.httpRequest({\n        method: 'GET',\n        url: 'https://vgqecqqleuowvoimcoxg.supabase.co/rest/v1/order_line_items'\n          + '?select=sku&order_id=eq.' + dupOrder.id,\n        headers: { 'apikey': sbKey, 'Authorization': 'Bearer ' + sbKey },\n        timeout: 3000\n      });\n      const lineItems = Array.isArray(liRes) ? liRes : [];\n      const hasSameProduct = lineItems.some(li => li.sku && li.sku.startsWith(skuPrefix));\n      if (hasSameProduct) {\n        return [{ json: {\n          success: false,\n          status: 'ya_confirmado',\n          DO_NOT_CALL_AGAIN: true,\n          message: 'Tu pedido ya esta confirmado y en proceso. Te llegara pronto!'\n        }}];\n      }\n    }\n  }\n} catch (guardErr) {\n  // Guard failed silently. Safer to allow order creation than to block a legitimate purchase.\n}\n\n\n// ── Field validation ──\nconst required = ['nombre', 'phone', 'direccion', 'ciudad'];\nconst missing = required.filter(f => !item[f] || String(item[f]).trim() === '');\nif (missing.length > 0) {\n  return [{ json: {\n    success: false,\n    error: `Campos requeridos faltantes: ${missing.join(', ')}`,\n    DO_NOT_CALL_AGAIN: false\n  }}];\n}\n\n// ── Payment method ──\nconst paymentMap = { 'transferencia': 'pending', 'contra_entrega': 'cash_on_delivery' };\nconst ordefyPayment = paymentMap[item.forma_pago] || 'pending';\nconst isContraEntrega = item.forma_pago === 'contra_entrega';\n\n// ── Solenne catalog (real SKUs verified against Ordefy product_variants) ──\nconst CATALOG = {\n  serum: {\n    1: { sku: 'SOLENNE-PDRN-30ML',    qty: 1, name: 'PDRN Pink Peptide Serum 30ml',              pack: 'Personal',      price: 189000 },\n    2: { sku: 'SOLENNE-PDRN-DUO',     qty: 2, name: 'PDRN Pink Peptide Serum 30ml - Kit Duo',     pack: 'Kit Duo',       price: 299000 },\n    3: { sku: 'SOLENNE-PDRN-FAMILIAR',qty: 3, name: 'PDRN Pink Peptide Serum 30ml - Kit Familiar',pack: 'Kit Familiar',  price: 399000 }\n  },\n  tape: {\n    1: { sku: 'SOLENNE-TAPE',       qty: 1, name: 'V-Shaped Invisible Face Tape (100 parches)',                pack: '1 caja',      price: 149000 },\n    2: { sku: 'SOLENNE-TAPE-RITUAL',qty: 2, name: 'V-Shaped Invisible Face Tape - Pack Ritual (2 cajas)',      pack: 'Pack Ritual', price: 249000 },\n    3: { sku: 'SOLENNE-TAPE-EVENTO',qty: 3, name: 'V-Shaped Invisible Face Tape - Pack Evento (3 cajas + Bolsa Solenne)', pack: 'Pack Evento', price: 339000 }\n  }\n};\n\n// ── Detect product_family from Sofia's free-form inputs ──\nconst productoText = String(item.producto || '').toLowerCase();\nconst itemsRaw = item.items || '';\nconst itemsText = (typeof itemsRaw === 'string') ? itemsRaw.toLowerCase() : JSON.stringify(itemsRaw).toLowerCase();\nconst combined = productoText + ' ' + itemsText;\n\nconst SERUM_KEYWORDS = ['pdrn','serum','suero','peptide','peptido','pink peptide','kit duo','kit familiar','personal serum','pdrn pink'];\nconst TAPE_KEYWORDS  = ['tape','face tape','parche','parches','pack ritual','pack evento','lifting tape','v-shaped','v shaped','vshaped','bolsa solenne','invisible tape'];\n\nconst serumHits = SERUM_KEYWORDS.filter(k => combined.includes(k)).length;\nconst tapeHits  = TAPE_KEYWORDS.filter(k => combined.includes(k)).length;\n\nlet productFamily;\nlet detectionMethod;\nlet ambiguous = false;\n\nif (serumHits > 0 && tapeHits === 0) {\n  productFamily = 'serum';\n  detectionMethod = 'keyword_serum';\n} else if (tapeHits > 0 && serumHits === 0) {\n  productFamily = 'tape';\n  detectionMethod = 'keyword_tape';\n} else if (serumHits > tapeHits) {\n  productFamily = 'serum';\n  detectionMethod = 'keyword_serum_majority';\n  ambiguous = true;\n} else if (tapeHits > serumHits) {\n  productFamily = 'tape';\n  detectionMethod = 'keyword_tape_majority';\n  ambiguous = true;\n} else {\n  productFamily = 'tape';\n  detectionMethod = 'fallback_tape';\n  ambiguous = true;\n}\n\n// Pack size: clamped to family max (3 for all remaining families)\nconst rawCantidad = parseInt(item.cantidad) || 1;\nconst packMax = 3;\nconst packSize = Math.max(1, Math.min(packMax, rawCantidad));\nconst packSizeClamped = rawCantidad !== packSize;\nif (packSizeClamped) {\n  console.warn('[Solenne Build Payload] cantidad=' + rawCantidad + ' out of range, clamped to ' + packSize);\n}\n\nconst selected = CATALOG[productFamily][packSize];\n\n// ── Build items array ──\nconst items = [{\n  name: selected.name,\n  sku: selected.sku,\n  quantity: 1,\n  price: selected.price,\n  variant_title: selected.pack\n}];\n\n// ── Priority shipping upsell ──\nconst wantsPriority = item.envio_prioritario === true || item.envio_prioritario === 'true';\nconst priorityCost = 10000;\nlet totalAmount = selected.price;\n\nif (wantsPriority) {\n  items.push({\n    name: 'Envio Prioritario VIP',\n    sku: 'SOLENNE-ENVIO-PRIORITARIO',\n    quantity: 1,\n    price: priorityCost,\n    is_upsell: true\n  });\n  totalAmount += priorityCost;\n}\n\n// ── City & shipping ──\nconst ciudad = item.ciudad || '';\nconst granAsuncion = ['asuncion','asunci\\u00f3n','fernando de la mora','san lorenzo','luque',\n  'lambare','lambar\\u00e9','mariano roque alonso','limpio','nemby','\\u00f1emby',\n  'san antonio','villa elisa','capiata','capiat\\u00e1'];\nconst ciudadLower = ciudad.toLowerCase().trim();\nconst isGranAsuncion = granAsuncion.some(c => ciudadLower === c || ciudadLower.startsWith(c + ' ') || ciudadLower.startsWith(c + ','));\n\nconst convId = item.conversation_id || 'unknown';\nconst phoneClean = (item.phone || '').replace(/[^\\d]/g, '').slice(-8);\nconst idempotencyKey = 'solenne-conv-' + convId + '-ph-' + phoneClean;\n\n// ── Product summary (human readable for confirm_msg and admin notes) ──\n// For pack size 1 we append the pack label (e.g. \"Personal\"). For 2/3 the\n// selected.name already embeds the pack label, so we do not repeat it.\nconst productoResumen = (packSize === 1)\n  ? selected.name + ' - ' + selected.pack\n  : selected.name;\n\n// ── RUC for factura (optional) ──\nconst rawRuc = (item.ruc || '').trim();\nlet rucNumber = '';\nlet rucDv = '';\nif (rawRuc) {\n  const rucMatch = rawRuc.match(/^(\\d+)[\\-\\s](\\d)$/);\n  if (rucMatch) {\n    rucNumber = rucMatch[1];\n    rucDv = rucMatch[2];\n  } else {\n    const digitsOnly = rawRuc.replace(/[^\\d]/g, '');\n    if (digitsOnly.length >= 2) {\n      rucDv = digitsOnly.slice(-1);\n      rucNumber = digitsOnly.slice(0, -1);\n    }\n  }\n}\n\nconst ordefyPayload = {\n  idempotency_key: idempotencyKey,\n  customer: { name: item.nombre || 'N/A', phone: item.phone || '' },\n  shipping_address: { address: item.direccion || '', city: ciudad || 'Asunci\\u00f3n' },\n  items: items,\n  totals: { subtotal: selected.price, shipping: 0, total: totalAmount },\n  payment_method: ordefyPayment,\n  metadata: {\n    source: 'n8n-sofia',\n    conversation_id: convId,\n    envio_prioritario: wantsPriority,\n    product_family: productFamily,\n    pack_size: packSize,\n    detection_method: detectionMethod,\n    ambiguous_detection: ambiguous\n  }\n};\n\nif (rucNumber && rucDv) {\n  ordefyPayload.customer.ruc = rucNumber;\n  ordefyPayload.customer.ruc_dv = rucDv;\n}\n\nif (item.google_maps_url) {\n  ordefyPayload.shipping_address.google_maps_url = item.google_maps_url;\n}\n\nconst deliveryType = isGranAsuncion ? 'El delivery' : 'La transportadora';\nconst fmtTotal = totalAmount.toLocaleString('es-PY') + ' Gs';\nconst fmtPack  = selected.price.toLocaleString('es-PY') + ' Gs';\n\n// ── Build confirm_msg (order summary only, NO bank details) ──\nconst statusLabel = isContraEntrega ? '\\u2705 *Pedido Confirmado*' : '\\u2705 *Pedido Registrado*';\nlet confirmMsg = statusLabel + '\\n\\n';\nconfirmMsg += '*' + productoResumen + '*\\n';\nconfirmMsg += '\\ud83d\\udccd ' + (item.direccion || 'N/A');\nif (ciudad) confirmMsg += ', ' + ciudad;\nif (!isGranAsuncion && ciudad) confirmMsg += '\\nEnvio al interior por transportadora';\nconfirmMsg += '\\n\\n';\nif (wantsPriority) {\n  confirmMsg += 'Producto: ' + fmtPack + '\\n';\n  confirmMsg += 'Envio VIP: 10.000 Gs\\n';\n  confirmMsg += '*Total: ' + fmtTotal + '*';\n} else {\n  confirmMsg += '*Total: ' + fmtTotal + '*';\n}\nif (isContraEntrega) {\n  confirmMsg += ' (pago contra entrega)';\n}\nconfirmMsg += '\\n\\n' + deliveryType + ' se pondra en contacto para coordinar la entrega.';\n\n// ── Build bank_msg (separate message, only for transfers) ──\nlet bankMsg = '';\nif (!isContraEntrega) {\n  bankMsg = '\\ud83c\\udfe6 *Datos para transferencia:*\\n\\n';\n  bankMsg += 'UENO, Cta.: 96913238\\n';\n  bankMsg += 'Roger Gaston Lopez\\n';\n  bankMsg += 'C.I.: 5712264\\n';\n  bankMsg += 'Alias celular: 0983912902\\n\\n';\n  bankMsg += 'Envianos el comprobante por aca y despachamos tu pedido.';\n}\n\nreturn [{ json: {\n  ...item,\n  sku: selected.sku,\n  cantidad: packSize,\n  ciudad,\n  is_gran_asuncion: isGranAsuncion,\n  is_contra_entrega: isContraEntrega,\n  ordefy_payload: JSON.stringify(ordefyPayload),\n  monto_num: selected.price,\n  total_amount: totalAmount,\n  ordefy_payment: ordefyPayment,\n  confirm_msg: confirmMsg,\n  bank_msg: bankMsg,\n  wants_priority: wantsPriority,\n  idempotency_key: idempotencyKey,\n  producto_resumen: productoResumen,\n  google_maps_url: item.google_maps_url || '',\n  product_family: productFamily,\n  pack_size: packSize,\n  detection_method: detectionMethod,\n  ambiguous_detection: ambiguous\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,0],"id":"co-build-001","name":"Build Payload"},{"parameters":{"method":"POST","url":"https://api.ordefy.io/api/webhook/orders/0b3f13f8-d1dc-48a5-a707-27a095c9c545","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"wh_6d021f48403a313bd3dfede798fe13855331f33ce6cb148ccf153f2e26df"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.ordefy_payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,0],"id":"co-create-001","name":"Create Order in Ordefy","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.is_contra_entrega }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"cond-ce-001"}]},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,0],"id":"co-if-ce-001","name":"Is Contra Entrega?"},{"parameters":{"method":"POST","url":"https://api.ordefy.io/api/webhook/orders/0b3f13f8-d1dc-48a5-a707-27a095c9c545/confirm","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"wh_6d021f48403a313bd3dfede798fe13855331f33ce6cb148ccf153f2e26df"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": {{ JSON.stringify($(\"Build Payload\").first().json.phone) }},\n  \"shipping_city\": {{ JSON.stringify($(\"Build Payload\").first().json.ciudad || \"\") }},\n  \"order_id\": {{ JSON.stringify($(\"Check Ordefy Response\").first().json.ordefy_response?.order_id || $(\"Check Ordefy Response\").first().json.ordefy_response?.id || \"\") }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,-160],"id":"co-confirm-001","name":"Confirm by Phone","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Build Payload').first().json.confirm_msg) }},\n  \"message_type\": \"outgoing\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,-160],"id":"co-chatwoot-ce-001","name":"Send CE Confirmation","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"VENTA AI (CONTRA ENTREGA): {{ $('Build Payload').first().json.producto_resumen }} - {{ $('Build Payload').first().json.total_amount }} Gs{{ $('Build Payload').first().json.wants_priority ? ' + ENVIO VIP' : '' }}\\nCliente: {{ $('Build Payload').first().json.nombre }}\\nDir: {{ $('Build Payload').first().json.direccion }} ({{ $('Build Payload').first().json.ciudad }}){{ $('Build Payload').first().json.google_maps_url ? '\\nMaps: ' + $('Build Payload').first().json.google_maps_url : '' }}\\nPago: contra_entrega\\nSKU: {{ $('Build Payload').first().json.sku }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,-160],"id":"co-admin-ce-001","name":"Admin Note CE","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => { const current = $('Get Labels CE').first().json.labels || []; if (!current.includes('venta')) current.push('venta'); return JSON.stringify({ labels: current }); })() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2144,-160],"id":"co-venta-label-001","name":"Set Venta Label","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return { json: { success: true, message: 'EXITO: Pedido confirmado y datos de contra entrega enviados al cliente. NO volver a llamar confirm_order.', payment_method: 'contra_entrega', order_confirmed: true, DO_NOT_CALL_AGAIN: true } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,160],"id":"co-result-ce-001","name":"Return CE Result"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Build Payload').first().json.confirm_msg) }},\n  \"message_type\": \"outgoing\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,160],"id":"co-transfer-001","name":"Send Transfer Details","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"VENTA AI (PENDIENTE TRANSFERENCIA): {{ $('Build Payload').first().json.producto_resumen }} - {{ $('Build Payload').first().json.total_amount }} Gs{{ $('Build Payload').first().json.wants_priority ? ' + ENVIO VIP' : '' }}\\nCliente: {{ $('Build Payload').first().json.nombre }}\\nDir: {{ $('Build Payload').first().json.direccion }} ({{ $('Build Payload').first().json.ciudad }}){{ $('Build Payload').first().json.google_maps_url ? '\\nMaps: ' + $('Build Payload').first().json.google_maps_url : '' }}\\nPago: transferencia (pendiente)\\nSKU: {{ $('Build Payload').first().json.sku }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1608,160],"id":"co-admin-transfer-001","name":"Admin Note Transfer","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return { json: { success: true, message: 'EXITO: Pedido registrado y datos bancarios enviados al cliente. El pedido queda pendiente hasta que envie el comprobante. NO volver a llamar confirm_order.', payment_method: 'transferencia', order_confirmed: true, awaiting_receipt: true, DO_NOT_CALL_AGAIN: true } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,440],"id":"co-result-transfer-001","name":"Return Transfer Result"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => { const current = $('Get Labels Transfer').first().json.labels || []; if (!current.includes('confirmacionenviada')) current.push('confirmacionenviada'); return JSON.stringify({ labels: current }); })() }}","options":{}},"id":"co-venta-label-transfer-001","name":"Set Venta Label (Transfer)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,320],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const ordefyResult = $input.first().json;\nconst buildPayload = $('Build Payload').first().json;\n\nconst isError = ordefyResult.error || (ordefyResult.statusCode && ordefyResult.statusCode >= 400) || (ordefyResult.status && ordefyResult.status >= 400);\nconst success = !isError;\n\nlet ordefyError = '';\nif (isError) {\n  ordefyError = ordefyResult.error || ordefyResult.message || ordefyResult.detail || JSON.stringify(ordefyResult).substring(0, 200);\n}\n\nreturn [{ json: { ...buildPayload, ordefy_success: success, ordefy_response: ordefyResult, ordefy_error: ordefyError } }];"},"id":"co-check-ordefy-001","name":"Check Ordefy Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,0]},{"parameters":{"url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"co-get-labels-ce-001","name":"Get Labels CE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-176],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"co-get-labels-transfer-001","name":"Get Labels Transfer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1608,400],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.ordefy_success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"condition-1773294026648-beuhwjzoi"}],"combinator":"and"},"options":{}},"id":"co-if-success-001","name":"Ordefy Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,0]},{"parameters":{"jsCode":"const data = $input.first().json;\n\n// Set error_orden + humano labels on Ordefy failure\ntry {\n  const trigger = $('Execute Workflow Trigger').first().json;\n  const conv_id = trigger.conversation_id;\n  const acc_id = trigger.account_id;\n  if (conv_id && acc_id) {\n    const labelsResp = await $helpers.httpRequest({\n      method: 'GET',\n      url: `https://chat.thebrightidea.ai/api/v1/accounts/${acc_id}/conversations/${conv_id}/labels`,\n      headers: {'api_access_token': 'daxHcwWJRwDMwBu4TZ1Cs83k'}\n    });\n    const current = labelsResp?.payload || [];\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: `https://chat.thebrightidea.ai/api/v1/accounts/${acc_id}/conversations/${conv_id}/labels`,\n      headers: {'api_access_token': 'daxHcwWJRwDMwBu4TZ1Cs83k', 'Content-Type': 'application/json'},\n      body: JSON.stringify({labels: [...new Set([...current, 'error_orden', 'humano'])]})\n    });\n\n    // Private note with error details\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: `https://chat.thebrightidea.ai/api/v1/accounts/${acc_id}/conversations/${conv_id}/messages`,\n      headers: {'api_access_token': 'daxHcwWJRwDMwBu4TZ1Cs83k', 'Content-Type': 'application/json'},\n      body: JSON.stringify({\n        content: '[ERROR ORDEN] confirm_order fallo. Revisar datos y crear manualmente.',\n        message_type: 'outgoing',\n        private: true\n      })\n    });\n  }\n} catch(e) {}\n\nreturn { json: {\n  success: false,\n  message: 'Error del sistema al crear el pedido. Equipo notificado.',\n  DO_NOT_CALL_AGAIN: true\n}};"},"id":"co-return-error-001","name":"Return Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[928,208]},{"parameters":{"method":"PATCH","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"custom_attributes\": {\"has_pending_transfer\": true}}","options":{}},"id":"co-set-transfer-pending-001","name":"Set Transfer Pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,688],"onError":"continueRegularOutput"},{"id":"co-bank-details-001","name":"Send Bank Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,160],"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Build Payload').first().json.bank_msg) }},\n  \"message_type\": \"outgoing\"\n}","options":{}},"onError":"continueRegularOutput"},{"id":"co-search-contact-001","name":"CO Search Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,300],"parameters":{"method":"GET","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $json.account_id || $(\"Build Payload\").first().json.account_id }}/contacts/search?q={{ encodeURIComponent($(\"Build Payload\").first().json.phone) }}&sort=name&page=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"}]},"options":{}}},{"id":"co-clear-followup-001","name":"CO Clear Follow-Up","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,300],"parameters":{"method":"PATCH","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $(\"Build Payload\").first().json.account_id }}/contacts/{{ $(\"CO Search Contact\").first().json.payload?.[0]?.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"custom_attributes\":{\"template_sent\":false,\"followup_stage\":\"resolved\"}}","options":{}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pure JS SHA256 (no crypto dependency)\nfunction sha256hex(str) {\n  const msg = [];\n  for (let i = 0; i < str.length; i++) {\n    const c = str.charCodeAt(i);\n    if (c < 128) msg.push(c);\n    else if (c < 2048) { msg.push(192 | (c >> 6)); msg.push(128 | (c & 63)); }\n    else { msg.push(224 | (c >> 12)); msg.push(128 | ((c >> 6) & 63)); msg.push(128 | (c & 63)); }\n  }\n  const ml = msg.length;\n  msg.push(0x80);\n  while ((msg.length % 64) !== 56) msg.push(0);\n  const bl = ml * 8;\n  for (let i = 56; i >= 0; i -= 8) msg.push((bl / Math.pow(2, i)) & 0xff);\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  const rr = (v, n) => (v >>> n) | (v << (32 - n));\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a;\n  let h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  for (let off = 0; off < msg.length; off += 64) {\n    const w = new Array(64);\n    for (let i = 0; i < 16; i++) w[i] = (msg[off+i*4]<<24)|(msg[off+i*4+1]<<16)|(msg[off+i*4+2]<<8)|msg[off+i*4+3];\n    for (let i = 16; i < 64; i++) {\n      const s0 = rr(w[i-15],7)^rr(w[i-15],18)^(w[i-15]>>>3);\n      const s1 = rr(w[i-2],17)^rr(w[i-2],19)^(w[i-2]>>>10);\n      w[i] = (w[i-16]+s0+w[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for (let i = 0; i < 64; i++) {\n      const S1=rr(e,6)^rr(e,11)^rr(e,25);\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+w[i])|0;\n      const S0=rr(a,2)^rr(a,13)^rr(a,22);\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;\n    h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  return [h0,h1,h2,h3,h4,h5,h6,h7].map(v=>(v>>>0).toString(16).padStart(8,'0')).join('');\n}\n\nfunction hash(val) {\n  if (!val) return null;\n  return sha256hex(String(val).trim().toLowerCase());\n}\n\n// Check if web order (pixel already tracked)\nconst searchResult = $('CO Search Contact').first().json;\nconst contactPayload = searchResult?.payload || [];\nconst customAttrs = contactPayload[0]?.custom_attributes || {};\nif (customAttrs.template_order_data) {\n  return { json: { capi_skip: true, reason: 'web_order_pixel_already_tracked' } };\n}\n\nfunction normalizePhone(phone) {\n  let d = String(phone).replace(/[^\\d]/g, '');\n  if (d.startsWith('0')) d = '595' + d.substring(1);\n  return d;\n}\n\nconst phone = $('Build Payload').first().json.phone || '';\nconst name = $('Build Payload').first().json.nombre || '';\nconst city = $('Build Payload').first().json.ciudad || '';\nconst orderNumber = $('Check Ordefy Response').first().json.ordefy_response?.order_number\n  || $('Build Payload').first().json.idempotency_key\n  || 'WA-' + Date.now();\nconst totalValue = $('Build Payload').first().json.total_amount\n  || $('Build Payload').first().json.monto_num\n  || 189000;\nconst quantity = $('Build Payload').first().json.cantidad || 1;\nconst product = $('Build Payload').first().json.producto_resumen || '';\n\nconst eventTime = Math.floor(Date.now() / 1000);\nconst cleanOrderNum = String(orderNumber).replace(/[^A-Za-z0-9]/g, '');\nconst eventId = 'solenne-wa-' + cleanOrderNum + '-' + eventTime;\n\nconst userData = {\n  ph: [hash(normalizePhone(phone))],\n  country: [hash('py')],\n  page_id: '865941519935438'\n};\nif (name) userData.fn = [hash(String(name).split(' ')[0])];\nif (city) userData.ct = [hash(String(city).replace(/[^a-z\\s]/gi, '').toLowerCase())];\n\nconst capiPayload = {\n  data: [{\n    event_name: 'Purchase',\n    event_time: eventTime,\n    action_source: 'system_generated',\n    event_id: eventId,\n    user_data: userData,\n    custom_data: {\n      currency: 'PYG',\n      value: Number(totalValue),\n      order_id: String(orderNumber),\n      content_type: 'product',\n      content_name: product,\n      num_items: Number(quantity)\n    }\n  }],\n  access_token: 'EAANg9xFUzusBRI7NqodjVT76U7arKmgGwUnw1p6MWkrbsxyvwadnsAS6cBu3u1OanBZCZBT38oLBXoQjMXBcsqZBWZAbvHXdXrkqHHGs45MYj11BP8d0i0FUkWayQEFp8icC3xhwZBnXnUzUwpghzxBWoJTKLTZAgUC58tckov9cqncy79eJxCQlk5HoIBLwZDZD'\n};\n\nreturn { json: { capi_skip: false, capi_body: JSON.stringify(capiPayload) } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,300],"id":"co-capi-merged-001","name":"CAPI Build Payload","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/1461479988681927/events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.capi_body }}","options":{"timeout":10000,"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2890,300],"id":"capi-http-post-001","name":"CAPI POST to Meta","disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.capi_skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"capi-skip-check"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2770,300],"id":"capi-skip-if-001","name":"CAPI Should Skip?"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Build Payload","type":"main","index":0}]]},"Build Payload":{"main":[[{"node":"Create Order in Ordefy","type":"main","index":0}]]},"Create Order in Ordefy":{"main":[[{"node":"Check Ordefy Response","type":"main","index":0}]]},"Is Contra Entrega?":{"main":[[{"node":"Confirm by Phone","type":"main","index":0}],[{"node":"Send Transfer Details","type":"main","index":0}]]},"Confirm by Phone":{"main":[[{"node":"Send CE Confirmation","type":"main","index":0}]]},"Send CE Confirmation":{"main":[[{"node":"Admin Note CE","type":"main","index":0}]]},"Set Venta Label":{"main":[[{"node":"CO Search Contact","type":"main","index":0}]]},"Send Transfer Details":{"main":[[{"node":"Set Transfer Pending","type":"main","index":0},{"node":"Send Bank Details","type":"main","index":0}]]},"Set Venta Label (Transfer)":{"main":[[{"node":"CO Search Contact","type":"main","index":0}]]},"Admin Note CE":{"main":[[{"node":"Get Labels CE","type":"main","index":0}]]},"Get Labels CE":{"main":[[{"node":"Set Venta Label","type":"main","index":0}]]},"Admin Note Transfer":{"main":[[{"node":"Get Labels Transfer","type":"main","index":0}]]},"Get Labels Transfer":{"main":[[{"node":"Set Venta Label (Transfer)","type":"main","index":0}]]},"Check Ordefy Response":{"main":[[{"node":"Ordefy Success?","type":"main","index":0}]]},"Ordefy Success?":{"main":[[{"node":"Is Contra Entrega?","type":"main","index":0}],[{"node":"Return Error","type":"main","index":0}]]},"Send Bank Details":{"main":[[{"node":"Admin Note Transfer","type":"main","index":0}]]},"CO Search Contact":{"main":[[{"node":"CO Clear Follow-Up","type":"main","index":0}]]},"CO Clear Follow-Up":{"main":[[{"node":"CAPI Build Payload","type":"main","index":0}]]},"CAPI Build Payload":{"main":[[{"node":"CAPI Should Skip?","type":"main","index":0}]]},"CAPI Should Skip?":{"main":[[],[{"node":"CAPI POST to Meta","type":"main","index":0}]]},"CAPI POST to Meta":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"2774b297-becf-4441-b425-37a0dc94e4d0","activeVersionId":"2774b297-becf-4441-b425-37a0dc94e4d0","versionCounter":34,"triggerCount":0,"shared":[{"updatedAt":"2026-04-05T23:07:49.557Z","createdAt":"2026-04-05T23:07:49.557Z","role":"workflow:owner","workflowId":"TUFQBJuVE9cOu4Go","projectId":"vVKrMRvjaqJI6ZtD","project":{"updatedAt":"2025-10-14T20:21:56.571Z","createdAt":"2025-06-27T02:53:51.273Z","id":"vVKrMRvjaqJI6ZtD","name":"Bright Idea <gaston@thebrightidea.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-06-27T02:53:51.273Z","createdAt":"2025-06-27T02:53:51.273Z","userId":"bd801847-7be9-42fe-880a-4791b5224dd0","projectId":"vVKrMRvjaqJI6ZtD","user":{"updatedAt":"2026-05-04T17:52:49.000Z","createdAt":"2025-06-27T02:53:50.473Z","id":"bd801847-7be9-42fe-880a-4791b5224dd0","email":"gaston@thebrightidea.ai","firstName":"Bright","lastName":"Idea","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-27T03:14:12.140Z","personalization_survey_n8n_version":"1.79.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"z3G3JSchjL1srvmx","userActivatedAt":1750997659782,"npsSurvey":{"responded":true,"lastShownAt":1772761918668}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-04","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-23T22:09:59.585Z","createdAt":"2026-04-23T22:09:59.585Z","versionId":"2774b297-becf-4441-b425-37a0dc94e4d0","workflowId":"TUFQBJuVE9cOu4Go","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-416,0],"id":"co-trigger-001","name":"Execute Workflow Trigger"},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst item = raw.query || raw;\n\n// Duplicate order guard: same phone + same product_family + last 2h = ya_confirmado\n// Prevents double-creation when client buys on web then confirms via Sofia minutes later\n// Non-blocking: any guard error continues to order creation (safe fallback)\ntry {\n  const guardPhone = String(item.phone || '').replace(/[\\D]/g, '');\n  const guardProductoText = String(item.producto || '').toLowerCase();\n  const guardItemsText = (typeof (item.items || '') === 'string')\n    ? (item.items || '').toLowerCase()\n    : JSON.stringify(item.items || '').toLowerCase();\n  const guardCombined = guardProductoText + ' ' + guardItemsText;\n\n  const SERUM_KW = ['pdrn','serum','suero','peptide','peptido','pink peptide'];\n  const TAPE_KW  = ['tape','face tape','parche','parches','lifting tape','v-shaped'];\n\n  let guardFamily = 'unknown';\n  if (SERUM_KW.some(k => guardCombined.includes(k))) guardFamily = 'serum';\n  else if (TAPE_KW.some(k => guardCombined.includes(k))) guardFamily = 'tape';\n\n  if (guardPhone.length >= 8 && guardFamily !== 'unknown') {\n    const sbKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZncWVjcXFsZXVvd3ZvaW1jb3hnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwNTY5NzcsImV4cCI6MjA4MjYzMjk3N30.aRX16e_vGkRgYN1RNMjF8bAOK8PmvwoFYFjGDEfa-YI';\n    const twoHoursAgo = new Date(Date.now() - 2 * 60 * 60 * 1000).toISOString();\n    const phoneEnd8 = guardPhone.slice(-8);\n\n    const skuPrefixMap = { serum: 'SOLENNE-PDRN', tape: 'SOLENNE-TAPE' };\n    const skuPrefix = skuPrefixMap[guardFamily];\n\n    // Orders by this phone in the last 2h that are confirmed/shipped/delivered\n    const dupRes = await $helpers.httpRequest({\n      method: 'GET',\n      url: 'https://vgqecqqleuowvoimcoxg.supabase.co/rest/v1/orders'\n        + '?select=id,idempotency_key,status,created_at'\n        + '&store_id=eq.0b3f13f8-d1dc-48a5-a707-27a095c9c545'\n        + '&status=in.(confirmed,shipped,delivered)'\n        + '&created_at=gte.' + twoHoursAgo\n        + '&idempotency_key=like.*ph-' + phoneEnd8\n        + '&order=created_at.desc&limit=10',\n      headers: { 'apikey': sbKey, 'Authorization': 'Bearer ' + sbKey },\n      timeout: 4000\n    });\n\n    const dupOrders = Array.isArray(dupRes) ? dupRes : [];\n\n    for (const dupOrder of dupOrders) {\n      const liRes = await $helpers.httpRequest({\n        method: 'GET',\n        url: 'https://vgqecqqleuowvoimcoxg.supabase.co/rest/v1/order_line_items'\n          + '?select=sku&order_id=eq.' + dupOrder.id,\n        headers: { 'apikey': sbKey, 'Authorization': 'Bearer ' + sbKey },\n        timeout: 3000\n      });\n      const lineItems = Array.isArray(liRes) ? liRes : [];\n      const hasSameProduct = lineItems.some(li => li.sku && li.sku.startsWith(skuPrefix));\n      if (hasSameProduct) {\n        return [{ json: {\n          success: false,\n          status: 'ya_confirmado',\n          DO_NOT_CALL_AGAIN: true,\n          message: 'Tu pedido ya esta confirmado y en proceso. Te llegara pronto!'\n        }}];\n      }\n    }\n  }\n} catch (guardErr) {\n  // Guard failed silently. Safer to allow order creation than to block a legitimate purchase.\n}\n\n\n// ── Field validation ──\nconst required = ['nombre', 'phone', 'direccion', 'ciudad'];\nconst missing = required.filter(f => !item[f] || String(item[f]).trim() === '');\nif (missing.length > 0) {\n  return [{ json: {\n    success: false,\n    error: `Campos requeridos faltantes: ${missing.join(', ')}`,\n    DO_NOT_CALL_AGAIN: false\n  }}];\n}\n\n// ── Payment method ──\nconst paymentMap = { 'transferencia': 'pending', 'contra_entrega': 'cash_on_delivery' };\nconst ordefyPayment = paymentMap[item.forma_pago] || 'pending';\nconst isContraEntrega = item.forma_pago === 'contra_entrega';\n\n// ── Solenne catalog (real SKUs verified against Ordefy product_variants) ──\nconst CATALOG = {\n  serum: {\n    1: { sku: 'SOLENNE-PDRN-30ML',    qty: 1, name: 'PDRN Pink Peptide Serum 30ml',              pack: 'Personal',      price: 189000 },\n    2: { sku: 'SOLENNE-PDRN-DUO',     qty: 2, name: 'PDRN Pink Peptide Serum 30ml - Kit Duo',     pack: 'Kit Duo',       price: 299000 },\n    3: { sku: 'SOLENNE-PDRN-FAMILIAR',qty: 3, name: 'PDRN Pink Peptide Serum 30ml - Kit Familiar',pack: 'Kit Familiar',  price: 399000 }\n  },\n  tape: {\n    1: { sku: 'SOLENNE-TAPE',       qty: 1, name: 'V-Shaped Invisible Face Tape (100 parches)',                pack: '1 caja',      price: 149000 },\n    2: { sku: 'SOLENNE-TAPE-RITUAL',qty: 2, name: 'V-Shaped Invisible Face Tape - Pack Ritual (2 cajas)',      pack: 'Pack Ritual', price: 249000 },\n    3: { sku: 'SOLENNE-TAPE-EVENTO',qty: 3, name: 'V-Shaped Invisible Face Tape - Pack Evento (3 cajas + Bolsa Solenne)', pack: 'Pack Evento', price: 339000 }\n  }\n};\n\n// ── Detect product_family from Sofia's free-form inputs ──\nconst productoText = String(item.producto || '').toLowerCase();\nconst itemsRaw = item.items || '';\nconst itemsText = (typeof itemsRaw === 'string') ? itemsRaw.toLowerCase() : JSON.stringify(itemsRaw).toLowerCase();\nconst combined = productoText + ' ' + itemsText;\n\nconst SERUM_KEYWORDS = ['pdrn','serum','suero','peptide','peptido','pink peptide','kit duo','kit familiar','personal serum','pdrn pink'];\nconst TAPE_KEYWORDS  = ['tape','face tape','parche','parches','pack ritual','pack evento','lifting tape','v-shaped','v shaped','vshaped','bolsa solenne','invisible tape'];\n\nconst serumHits = SERUM_KEYWORDS.filter(k => combined.includes(k)).length;\nconst tapeHits  = TAPE_KEYWORDS.filter(k => combined.includes(k)).length;\n\nlet productFamily;\nlet detectionMethod;\nlet ambiguous = false;\n\nif (serumHits > 0 && tapeHits === 0) {\n  productFamily = 'serum';\n  detectionMethod = 'keyword_serum';\n} else if (tapeHits > 0 && serumHits === 0) {\n  productFamily = 'tape';\n  detectionMethod = 'keyword_tape';\n} else if (serumHits > tapeHits) {\n  productFamily = 'serum';\n  detectionMethod = 'keyword_serum_majority';\n  ambiguous = true;\n} else if (tapeHits > serumHits) {\n  productFamily = 'tape';\n  detectionMethod = 'keyword_tape_majority';\n  ambiguous = true;\n} else {\n  productFamily = 'tape';\n  detectionMethod = 'fallback_tape';\n  ambiguous = true;\n}\n\n// Pack size: clamped to family max (3 for all remaining families)\nconst rawCantidad = parseInt(item.cantidad) || 1;\nconst packMax = 3;\nconst packSize = Math.max(1, Math.min(packMax, rawCantidad));\nconst packSizeClamped = rawCantidad !== packSize;\nif (packSizeClamped) {\n  console.warn('[Solenne Build Payload] cantidad=' + rawCantidad + ' out of range, clamped to ' + packSize);\n}\n\nconst selected = CATALOG[productFamily][packSize];\n\n// ── Build items array ──\nconst items = [{\n  name: selected.name,\n  sku: selected.sku,\n  quantity: 1,\n  price: selected.price,\n  variant_title: selected.pack\n}];\n\n// ── Priority shipping upsell ──\nconst wantsPriority = item.envio_prioritario === true || item.envio_prioritario === 'true';\nconst priorityCost = 10000;\nlet totalAmount = selected.price;\n\nif (wantsPriority) {\n  items.push({\n    name: 'Envio Prioritario VIP',\n    sku: 'SOLENNE-ENVIO-PRIORITARIO',\n    quantity: 1,\n    price: priorityCost,\n    is_upsell: true\n  });\n  totalAmount += priorityCost;\n}\n\n// ── City & shipping ──\nconst ciudad = item.ciudad || '';\nconst granAsuncion = ['asuncion','asunci\\u00f3n','fernando de la mora','san lorenzo','luque',\n  'lambare','lambar\\u00e9','mariano roque alonso','limpio','nemby','\\u00f1emby',\n  'san antonio','villa elisa','capiata','capiat\\u00e1'];\nconst ciudadLower = ciudad.toLowerCase().trim();\nconst isGranAsuncion = granAsuncion.some(c => ciudadLower === c || ciudadLower.startsWith(c + ' ') || ciudadLower.startsWith(c + ','));\n\nconst convId = item.conversation_id || 'unknown';\nconst phoneClean = (item.phone || '').replace(/[^\\d]/g, '').slice(-8);\nconst idempotencyKey = 'solenne-conv-' + convId + '-ph-' + phoneClean;\n\n// ── Product summary (human readable for confirm_msg and admin notes) ──\n// For pack size 1 we append the pack label (e.g. \"Personal\"). For 2/3 the\n// selected.name already embeds the pack label, so we do not repeat it.\nconst productoResumen = (packSize === 1)\n  ? selected.name + ' - ' + selected.pack\n  : selected.name;\n\n// ── RUC for factura (optional) ──\nconst rawRuc = (item.ruc || '').trim();\nlet rucNumber = '';\nlet rucDv = '';\nif (rawRuc) {\n  const rucMatch = rawRuc.match(/^(\\d+)[\\-\\s](\\d)$/);\n  if (rucMatch) {\n    rucNumber = rucMatch[1];\n    rucDv = rucMatch[2];\n  } else {\n    const digitsOnly = rawRuc.replace(/[^\\d]/g, '');\n    if (digitsOnly.length >= 2) {\n      rucDv = digitsOnly.slice(-1);\n      rucNumber = digitsOnly.slice(0, -1);\n    }\n  }\n}\n\nconst ordefyPayload = {\n  idempotency_key: idempotencyKey,\n  customer: { name: item.nombre || 'N/A', phone: item.phone || '' },\n  shipping_address: { address: item.direccion || '', city: ciudad || 'Asunci\\u00f3n' },\n  items: items,\n  totals: { subtotal: selected.price, shipping: 0, total: totalAmount },\n  payment_method: ordefyPayment,\n  metadata: {\n    source: 'n8n-sofia',\n    conversation_id: convId,\n    envio_prioritario: wantsPriority,\n    product_family: productFamily,\n    pack_size: packSize,\n    detection_method: detectionMethod,\n    ambiguous_detection: ambiguous\n  }\n};\n\nif (rucNumber && rucDv) {\n  ordefyPayload.customer.ruc = rucNumber;\n  ordefyPayload.customer.ruc_dv = rucDv;\n}\n\nif (item.google_maps_url) {\n  ordefyPayload.shipping_address.google_maps_url = item.google_maps_url;\n}\n\nconst deliveryType = isGranAsuncion ? 'El delivery' : 'La transportadora';\nconst fmtTotal = totalAmount.toLocaleString('es-PY') + ' Gs';\nconst fmtPack  = selected.price.toLocaleString('es-PY') + ' Gs';\n\n// ── Build confirm_msg (order summary only, NO bank details) ──\nconst statusLabel = isContraEntrega ? '\\u2705 *Pedido Confirmado*' : '\\u2705 *Pedido Registrado*';\nlet confirmMsg = statusLabel + '\\n\\n';\nconfirmMsg += '*' + productoResumen + '*\\n';\nconfirmMsg += '\\ud83d\\udccd ' + (item.direccion || 'N/A');\nif (ciudad) confirmMsg += ', ' + ciudad;\nif (!isGranAsuncion && ciudad) confirmMsg += '\\nEnvio al interior por transportadora';\nconfirmMsg += '\\n\\n';\nif (wantsPriority) {\n  confirmMsg += 'Producto: ' + fmtPack + '\\n';\n  confirmMsg += 'Envio VIP: 10.000 Gs\\n';\n  confirmMsg += '*Total: ' + fmtTotal + '*';\n} else {\n  confirmMsg += '*Total: ' + fmtTotal + '*';\n}\nif (isContraEntrega) {\n  confirmMsg += ' (pago contra entrega)';\n}\nconfirmMsg += '\\n\\n' + deliveryType + ' se pondra en contacto para coordinar la entrega.';\n\n// ── Build bank_msg (separate message, only for transfers) ──\nlet bankMsg = '';\nif (!isContraEntrega) {\n  bankMsg = '\\ud83c\\udfe6 *Datos para transferencia:*\\n\\n';\n  bankMsg += 'UENO, Cta.: 96913238\\n';\n  bankMsg += 'Roger Gaston Lopez\\n';\n  bankMsg += 'C.I.: 5712264\\n';\n  bankMsg += 'Alias celular: 0983912902\\n\\n';\n  bankMsg += 'Envianos el comprobante por aca y despachamos tu pedido.';\n}\n\nreturn [{ json: {\n  ...item,\n  sku: selected.sku,\n  cantidad: packSize,\n  ciudad,\n  is_gran_asuncion: isGranAsuncion,\n  is_contra_entrega: isContraEntrega,\n  ordefy_payload: JSON.stringify(ordefyPayload),\n  monto_num: selected.price,\n  total_amount: totalAmount,\n  ordefy_payment: ordefyPayment,\n  confirm_msg: confirmMsg,\n  bank_msg: bankMsg,\n  wants_priority: wantsPriority,\n  idempotency_key: idempotencyKey,\n  producto_resumen: productoResumen,\n  google_maps_url: item.google_maps_url || '',\n  product_family: productFamily,\n  pack_size: packSize,\n  detection_method: detectionMethod,\n  ambiguous_detection: ambiguous\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,0],"id":"co-build-001","name":"Build Payload"},{"parameters":{"method":"POST","url":"https://api.ordefy.io/api/webhook/orders/0b3f13f8-d1dc-48a5-a707-27a095c9c545","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"wh_6d021f48403a313bd3dfede798fe13855331f33ce6cb148ccf153f2e26df"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.ordefy_payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,0],"id":"co-create-001","name":"Create Order in Ordefy","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.is_contra_entrega }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"cond-ce-001"}]},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,0],"id":"co-if-ce-001","name":"Is Contra Entrega?"},{"parameters":{"method":"POST","url":"https://api.ordefy.io/api/webhook/orders/0b3f13f8-d1dc-48a5-a707-27a095c9c545/confirm","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"wh_6d021f48403a313bd3dfede798fe13855331f33ce6cb148ccf153f2e26df"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": {{ JSON.stringify($(\"Build Payload\").first().json.phone) }},\n  \"shipping_city\": {{ JSON.stringify($(\"Build Payload\").first().json.ciudad || \"\") }},\n  \"order_id\": {{ JSON.stringify($(\"Check Ordefy Response\").first().json.ordefy_response?.order_id || $(\"Check Ordefy Response\").first().json.ordefy_response?.id || \"\") }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,-160],"id":"co-confirm-001","name":"Confirm by Phone","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Build Payload').first().json.confirm_msg) }},\n  \"message_type\": \"outgoing\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,-160],"id":"co-chatwoot-ce-001","name":"Send CE Confirmation","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"VENTA AI (CONTRA ENTREGA): {{ $('Build Payload').first().json.producto_resumen }} - {{ $('Build Payload').first().json.total_amount }} Gs{{ $('Build Payload').first().json.wants_priority ? ' + ENVIO VIP' : '' }}\\nCliente: {{ $('Build Payload').first().json.nombre }}\\nDir: {{ $('Build Payload').first().json.direccion }} ({{ $('Build Payload').first().json.ciudad }}){{ $('Build Payload').first().json.google_maps_url ? '\\nMaps: ' + $('Build Payload').first().json.google_maps_url : '' }}\\nPago: contra_entrega\\nSKU: {{ $('Build Payload').first().json.sku }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,-160],"id":"co-admin-ce-001","name":"Admin Note CE","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => { const current = $('Get Labels CE').first().json.labels || []; if (!current.includes('venta')) current.push('venta'); return JSON.stringify({ labels: current }); })() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2144,-160],"id":"co-venta-label-001","name":"Set Venta Label","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return { json: { success: true, message: 'EXITO: Pedido confirmado y datos de contra entrega enviados al cliente. NO volver a llamar confirm_order.', payment_method: 'contra_entrega', order_confirmed: true, DO_NOT_CALL_AGAIN: true } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,160],"id":"co-result-ce-001","name":"Return CE Result"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Build Payload').first().json.confirm_msg) }},\n  \"message_type\": \"outgoing\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,160],"id":"co-transfer-001","name":"Send Transfer Details","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"VENTA AI (PENDIENTE TRANSFERENCIA): {{ $('Build Payload').first().json.producto_resumen }} - {{ $('Build Payload').first().json.total_amount }} Gs{{ $('Build Payload').first().json.wants_priority ? ' + ENVIO VIP' : '' }}\\nCliente: {{ $('Build Payload').first().json.nombre }}\\nDir: {{ $('Build Payload').first().json.direccion }} ({{ $('Build Payload').first().json.ciudad }}){{ $('Build Payload').first().json.google_maps_url ? '\\nMaps: ' + $('Build Payload').first().json.google_maps_url : '' }}\\nPago: transferencia (pendiente)\\nSKU: {{ $('Build Payload').first().json.sku }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1608,160],"id":"co-admin-transfer-001","name":"Admin Note Transfer","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return { json: { success: true, message: 'EXITO: Pedido registrado y datos bancarios enviados al cliente. El pedido queda pendiente hasta que envie el comprobante. NO volver a llamar confirm_order.', payment_method: 'transferencia', order_confirmed: true, awaiting_receipt: true, DO_NOT_CALL_AGAIN: true } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,440],"id":"co-result-transfer-001","name":"Return Transfer Result"},{"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => { const current = $('Get Labels Transfer').first().json.labels || []; if (!current.includes('confirmacionenviada')) current.push('confirmacionenviada'); return JSON.stringify({ labels: current }); })() }}","options":{}},"id":"co-venta-label-transfer-001","name":"Set Venta Label (Transfer)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,320],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const ordefyResult = $input.first().json;\nconst buildPayload = $('Build Payload').first().json;\n\nconst isError = ordefyResult.error || (ordefyResult.statusCode && ordefyResult.statusCode >= 400) || (ordefyResult.status && ordefyResult.status >= 400);\nconst success = !isError;\n\nlet ordefyError = '';\nif (isError) {\n  ordefyError = ordefyResult.error || ordefyResult.message || ordefyResult.detail || JSON.stringify(ordefyResult).substring(0, 200);\n}\n\nreturn [{ json: { ...buildPayload, ordefy_success: success, ordefy_response: ordefyResult, ordefy_error: ordefyError } }];"},"id":"co-check-ordefy-001","name":"Check Ordefy Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,0]},{"parameters":{"url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"co-get-labels-ce-001","name":"Get Labels CE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-176],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"co-get-labels-transfer-001","name":"Get Labels Transfer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1608,400],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.ordefy_success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"condition-1773294026648-beuhwjzoi"}],"combinator":"and"},"options":{}},"id":"co-if-success-001","name":"Ordefy Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,0]},{"parameters":{"jsCode":"const data = $input.first().json;\n\n// Set error_orden + humano labels on Ordefy failure\ntry {\n  const trigger = $('Execute Workflow Trigger').first().json;\n  const conv_id = trigger.conversation_id;\n  const acc_id = trigger.account_id;\n  if (conv_id && acc_id) {\n    const labelsResp = await $helpers.httpRequest({\n      method: 'GET',\n      url: `https://chat.thebrightidea.ai/api/v1/accounts/${acc_id}/conversations/${conv_id}/labels`,\n      headers: {'api_access_token': 'daxHcwWJRwDMwBu4TZ1Cs83k'}\n    });\n    const current = labelsResp?.payload || [];\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: `https://chat.thebrightidea.ai/api/v1/accounts/${acc_id}/conversations/${conv_id}/labels`,\n      headers: {'api_access_token': 'daxHcwWJRwDMwBu4TZ1Cs83k', 'Content-Type': 'application/json'},\n      body: JSON.stringify({labels: [...new Set([...current, 'error_orden', 'humano'])]})\n    });\n\n    // Private note with error details\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: `https://chat.thebrightidea.ai/api/v1/accounts/${acc_id}/conversations/${conv_id}/messages`,\n      headers: {'api_access_token': 'daxHcwWJRwDMwBu4TZ1Cs83k', 'Content-Type': 'application/json'},\n      body: JSON.stringify({\n        content: '[ERROR ORDEN] confirm_order fallo. Revisar datos y crear manualmente.',\n        message_type: 'outgoing',\n        private: true\n      })\n    });\n  }\n} catch(e) {}\n\nreturn { json: {\n  success: false,\n  message: 'Error del sistema al crear el pedido. Equipo notificado.',\n  DO_NOT_CALL_AGAIN: true\n}};"},"id":"co-return-error-001","name":"Return Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[928,208]},{"parameters":{"method":"PATCH","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"custom_attributes\": {\"has_pending_transfer\": true}}","options":{}},"id":"co-set-transfer-pending-001","name":"Set Transfer Pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,688],"onError":"continueRegularOutput"},{"id":"co-bank-details-001","name":"Send Bank Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,160],"parameters":{"method":"POST","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $('Build Payload').first().json.account_id }}/conversations/{{ $('Build Payload').first().json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($('Build Payload').first().json.bank_msg) }},\n  \"message_type\": \"outgoing\"\n}","options":{}},"onError":"continueRegularOutput"},{"id":"co-search-contact-001","name":"CO Search Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,300],"parameters":{"method":"GET","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $json.account_id || $(\"Build Payload\").first().json.account_id }}/contacts/search?q={{ encodeURIComponent($(\"Build Payload\").first().json.phone) }}&sort=name&page=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"}]},"options":{}}},{"id":"co-clear-followup-001","name":"CO Clear Follow-Up","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,300],"parameters":{"method":"PATCH","url":"=https://chat.thebrightidea.ai/api/v1/accounts/{{ $(\"Build Payload\").first().json.account_id }}/contacts/{{ $(\"CO Search Contact\").first().json.payload?.[0]?.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"daxHcwWJRwDMwBu4TZ1Cs83k"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"custom_attributes\":{\"template_sent\":false,\"followup_stage\":\"resolved\"}}","options":{}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pure JS SHA256 (no crypto dependency)\nfunction sha256hex(str) {\n  const msg = [];\n  for (let i = 0; i < str.length; i++) {\n    const c = str.charCodeAt(i);\n    if (c < 128) msg.push(c);\n    else if (c < 2048) { msg.push(192 | (c >> 6)); msg.push(128 | (c & 63)); }\n    else { msg.push(224 | (c >> 12)); msg.push(128 | ((c >> 6) & 63)); msg.push(128 | (c & 63)); }\n  }\n  const ml = msg.length;\n  msg.push(0x80);\n  while ((msg.length % 64) !== 56) msg.push(0);\n  const bl = ml * 8;\n  for (let i = 56; i >= 0; i -= 8) msg.push((bl / Math.pow(2, i)) & 0xff);\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  const rr = (v, n) => (v >>> n) | (v << (32 - n));\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a;\n  let h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  for (let off = 0; off < msg.length; off += 64) {\n    const w = new Array(64);\n    for (let i = 0; i < 16; i++) w[i] = (msg[off+i*4]<<24)|(msg[off+i*4+1]<<16)|(msg[off+i*4+2]<<8)|msg[off+i*4+3];\n    for (let i = 16; i < 64; i++) {\n      const s0 = rr(w[i-15],7)^rr(w[i-15],18)^(w[i-15]>>>3);\n      const s1 = rr(w[i-2],17)^rr(w[i-2],19)^(w[i-2]>>>10);\n      w[i] = (w[i-16]+s0+w[i-7]+s1)|0;\n    }\n    let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for (let i = 0; i < 64; i++) {\n      const S1=rr(e,6)^rr(e,11)^rr(e,25);\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+w[i])|0;\n      const S0=rr(a,2)^rr(a,13)^rr(a,22);\n      const maj=(a&b)^(a&c)^(b&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b)|0;h2=(h2+c)|0;h3=(h3+d)|0;\n    h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  return [h0,h1,h2,h3,h4,h5,h6,h7].map(v=>(v>>>0).toString(16).padStart(8,'0')).join('');\n}\n\nfunction hash(val) {\n  if (!val) return null;\n  return sha256hex(String(val).trim().toLowerCase());\n}\n\n// Check if web order (pixel already tracked)\nconst searchResult = $('CO Search Contact').first().json;\nconst contactPayload = searchResult?.payload || [];\nconst customAttrs = contactPayload[0]?.custom_attributes || {};\nif (customAttrs.template_order_data) {\n  return { json: { capi_skip: true, reason: 'web_order_pixel_already_tracked' } };\n}\n\nfunction normalizePhone(phone) {\n  let d = String(phone).replace(/[^\\d]/g, '');\n  if (d.startsWith('0')) d = '595' + d.substring(1);\n  return d;\n}\n\nconst phone = $('Build Payload').first().json.phone || '';\nconst name = $('Build Payload').first().json.nombre || '';\nconst city = $('Build Payload').first().json.ciudad || '';\nconst orderNumber = $('Check Ordefy Response').first().json.ordefy_response?.order_number\n  || $('Build Payload').first().json.idempotency_key\n  || 'WA-' + Date.now();\nconst totalValue = $('Build Payload').first().json.total_amount\n  || $('Build Payload').first().json.monto_num\n  || 189000;\nconst quantity = $('Build Payload').first().json.cantidad || 1;\nconst product = $('Build Payload').first().json.producto_resumen || '';\n\nconst eventTime = Math.floor(Date.now() / 1000);\nconst cleanOrderNum = String(orderNumber).replace(/[^A-Za-z0-9]/g, '');\nconst eventId = 'solenne-wa-' + cleanOrderNum + '-' + eventTime;\n\nconst userData = {\n  ph: [hash(normalizePhone(phone))],\n  country: [hash('py')],\n  page_id: '865941519935438'\n};\nif (name) userData.fn = [hash(String(name).split(' ')[0])];\nif (city) userData.ct = [hash(String(city).replace(/[^a-z\\s]/gi, '').toLowerCase())];\n\nconst capiPayload = {\n  data: [{\n    event_name: 'Purchase',\n    event_time: eventTime,\n    action_source: 'system_generated',\n    event_id: eventId,\n    user_data: userData,\n    custom_data: {\n      currency: 'PYG',\n      value: Number(totalValue),\n      order_id: String(orderNumber),\n      content_type: 'product',\n      content_name: product,\n      num_items: Number(quantity)\n    }\n  }],\n  access_token: 'EAANg9xFUzusBRI7NqodjVT76U7arKmgGwUnw1p6MWkrbsxyvwadnsAS6cBu3u1OanBZCZBT38oLBXoQjMXBcsqZBWZAbvHXdXrkqHHGs45MYj11BP8d0i0FUkWayQEFp8icC3xhwZBnXnUzUwpghzxBWoJTKLTZAgUC58tckov9cqncy79eJxCQlk5HoIBLwZDZD'\n};\n\nreturn { json: { capi_skip: false, capi_body: JSON.stringify(capiPayload) } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,300],"id":"co-capi-merged-001","name":"CAPI Build Payload","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/1461479988681927/events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.capi_body }}","options":{"timeout":10000,"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2890,300],"id":"capi-http-post-001","name":"CAPI POST to Meta","disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.capi_skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"capi-skip-check"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2770,300],"id":"capi-skip-if-001","name":"CAPI Should Skip?"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Build Payload","type":"main","index":0}]]},"Build Payload":{"main":[[{"node":"Create Order in Ordefy","type":"main","index":0}]]},"Create Order in Ordefy":{"main":[[{"node":"Check Ordefy Response","type":"main","index":0}]]},"Is Contra Entrega?":{"main":[[{"node":"Confirm by Phone","type":"main","index":0}],[{"node":"Send Transfer Details","type":"main","index":0}]]},"Confirm by Phone":{"main":[[{"node":"Send CE Confirmation","type":"main","index":0}]]},"Send CE Confirmation":{"main":[[{"node":"Admin Note CE","type":"main","index":0}]]},"Set Venta Label":{"main":[[{"node":"CO Search Contact","type":"main","index":0}]]},"Send Transfer Details":{"main":[[{"node":"Set Transfer Pending","type":"main","index":0},{"node":"Send Bank Details","type":"main","index":0}]]},"Set Venta Label (Transfer)":{"main":[[{"node":"CO Search Contact","type":"main","index":0}]]},"Admin Note CE":{"main":[[{"node":"Get Labels CE","type":"main","index":0}]]},"Get Labels CE":{"main":[[{"node":"Set Venta Label","type":"main","index":0}]]},"Admin Note Transfer":{"main":[[{"node":"Get Labels Transfer","type":"main","index":0}]]},"Get Labels Transfer":{"main":[[{"node":"Set Venta Label (Transfer)","type":"main","index":0}]]},"Check Ordefy Response":{"main":[[{"node":"Ordefy Success?","type":"main","index":0}]]},"Ordefy Success?":{"main":[[{"node":"Is Contra Entrega?","type":"main","index":0}],[{"node":"Return Error","type":"main","index":0}]]},"Send Bank Details":{"main":[[{"node":"Admin Note Transfer","type":"main","index":0}]]},"CO Search Contact":{"main":[[{"node":"CO Clear Follow-Up","type":"main","index":0}]]},"CO Clear Follow-Up":{"main":[[{"node":"CAPI Build Payload","type":"main","index":0}]]},"CAPI Build Payload":{"main":[[{"node":"CAPI Should Skip?","type":"main","index":0}]]},"CAPI Should Skip?":{"main":[[],[{"node":"CAPI POST to Meta","type":"main","index":0}]]},"CAPI POST to Meta":{"main":[[]]}},"authors":"Bright Idea","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2026-04-23T22:09:59.659Z","id":548,"workflowId":"TUFQBJuVE9cOu4Go","versionId":"2774b297-becf-4441-b425-37a0dc94e4d0","event":"activated","userId":"bd801847-7be9-42fe-880a-4791b5224dd0"}]}}